* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  height: 100vh;
}

.container {
  background-color: #fff;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
}

.container *:not(i) {
  font-family: "Rubik", sans-serif;
}

.colors {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

input[type="color"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  width: 100px;
  height: 45px;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 20px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
}

.buttons button {
  height: 35px;
  width: 35px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid;
  border-radius: 10px;
}

.rotate-icon i {
  transform: rotate(45deg);
}
.buttons button:hover {
  opacity: 0.4;
  transition: 0.3s;
}

.buttons button:active {
  border: none;
  background-color: rgb(3, 96, 151);
  color: #fff;
}

#submit:hover {
  opacity: 0.6;
}

#submit:active {
  background-color: #676767;
  color: black;
  transition: 0.2s ease;
}

#submit {
  display: block;
  background-color: #4a6ee0;
  color: #fff;
  border-radius: 20px;
  padding: 13px;
  width: 200px;
  font-size: 1rem;
  margin: auto;
  cursor: pointer;
}

#code {
  width: 335px;
  border: none;
  resize: none;
  margin: 1rem auto;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-family: "Sniglet", cursive;
  font-size: 1em;
  color: #676767;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  border: solid 3px #4a6ee0;
}

#copy {
  font-size: 14px;
  background-color: #4a6ee0;
  color: #fff;
  position: relative;
  left: 85%;
  bottom: 10px;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}
